.search-box {
    padding: 10px;
}

.search {
    color: aliceblue;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 1px 3px 1px #6ab8b8;
}

.search-box h4 {
    color: #6ab8b8 ;
}

.search:hover {
    font-size: 105%;
    box-shadow: 2px 1px 3px 2px #6ab8b8;
    
}